# data

data_sets/
work_dir/data/
*.tsv
*.ods
*.csv
*.shx
*.dbf
*.shp
*.prj
*.cpg
*.html

# python

*__pycache__/
*.ipy

#vim

tags

# config

*.ini
*.json
config_*.py

# linux

*.directory
*.swp

# misc

*.txt
*geospatial*
*secret*
clean*
club*
